.grid-container {
  display: grid;
}
.grid-item {
 height:400px;
 width:400px;
}



.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  grid-gap: 30px;
  background-color:white;
  margin-left: auto;
  margin-right: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.image-item {
  position: relative;
  overflow: hidden;
}


.image-item img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.image-item:hover .overlay {
    opacity: 1;
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.overlay h2 {
    margin: 0;
    font-size: 1.5rem;
}

.overlay p {
    margin: 0;
    margin-top: 10px;
    font-size: 1rem;
    color:darkgrey;
}

.glass {
  width: 550px;
  height: 550px;
  position: absolute;
  border-radius: 90%;
  cursor: crosshair;
  
  /* Multiple box shadows to achieve the glass effect */
  box-shadow:
    0 0 0 7px rgba(255, 255, 255, 0.85),
    0 0 7px 7px rgba(0, 0, 0, 0.25), 
    inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  
  /* hide the glass by default */
  display: none;
}

table.GeneratedTable {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

table.GeneratedTable th {
  border-style: solid;
  text-align: left;
}

table.GeneratedTable td {
  border-width: 20px;
  border-color: #f8f8f7;
  border-style: solid;
}

table.GeneratedTable thead {
  background-color: #f4f4f0;
}

table.GeneratedTableAccepted {
  width: 95%;
  background-color: #ffffff;

  margin-bottom: 100px;
  color: #000000;

}

table.GeneratedTableAccepted th {
  border-width: 20px;
  border-color: white;
  background-color: #f8f8f7;
  border-style: solid;
  padding: 3px;
  font-size: 30px;
  text-align: left;
}

table.GeneratedTableAccepted td {
  border-width: 10px;
  border-color: white;
  border-style: solid;
  padding: 3px;
  font-size: 30px;
}

table.GeneratedTableAccepted thead {
  background-color: #f4f4f0;
}

.buttonAccepted {
  background-color: #4CAF50; /* Vihreä taustaväri */
  border: solid;
  color: black; /* Valkoinen teksti */
  padding: 12px 24px; /* Sisältöalueen (padding) koko */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  border-radius: 8px; /* Pyöristetty kulma */
  box-shadow: 0 15px 30px rgba(76, 175, 80, 0.3), 0 5px 15px rgba(76, 175, 80, 0.3), inset 0 -2px 0 rgba(255, 255, 255, 0.2); /* Varjostus ja kiilto */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.3s; /* Tasainen värin ja koon muutos hover-tilassa */
  cursor: pointer; /* Osoitin muuttuu kädensijaksi, kun käyttäjä vie sen napin päälle */
}

.buttonAccepted:hover {
  background-color: #45a049; /* Vaihtaa taustaväriä, kun käyttäjä vie hiiren napin päälle */
  transform: translateY(-2px); /* Lisää hieman 3D-efektiä */
  box-shadow: 0 25px 50px rgba(76, 175, 80, 0.5), 0 15px 20px rgba(76, 175, 80, 0.3), inset 0 -2px 0 rgba(255, 255, 255, 0.2); /* Muuta varjostusta ja kiiltoa hover-tilassa */
}

/* Punainen nappi */
.buttonRescan {
    background-color: red;
    border: solid;
    color: black; /* Musta teksti */
    padding: 12px 24px; /* Sisältöalueen (padding) koko */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    border-radius: 8px; /* Pyöristetty kulma */
    box-shadow: 0 15px 30px rgba(255, 0, 0, 0.3), 0 5px 15px rgba(255, 0, 0, 0.3), inset 0 -2px 0 rgba(255, 255, 255, 0.2); /* Varjostus ja kiilto */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.3s; /* Tasainen värin ja koon muutos hover-tilassa */
    cursor: pointer; /* Osoitin muuttuu kädensijaksi, kun käyttäjä vie sen napin päälle */
}

.buttonRescan:hover {
    background-color: #ff4444; /* Vaihtaa taustaväriä, kun käyttäjä vie hiiren napin päälle */
    transform: translateY(-2px); /* Lisää hieman 3D-efektiä */
    box-shadow: 0 25px 50px rgba(255, 0, 0, 0.5), 0 15px 20px rgba(255, 0, 0, 0.3), inset 0 -2px 0 rgba(255, 255, 255, 0.2); /* Muuta varjostusta ja kiiltoa hover-tilassa */
}

/* Keltainen nappi */
.buttonRejected {
    background-color: yellow;
    border: solid;
    color: black; /* Musta teksti */
    padding: 12px 24px; /* Sisältöalueen (padding) koko */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    border-radius: 8px; /* Pyöristetty kulma */
    box-shadow: 0 15px 30px rgba(255, 255, 0, 0.3), 0 5px 15px rgba(255, 255, 0, 0.3), inset 0 -2px 0 rgba(255, 255, 255, 0.2); /* Varjostus ja kiilto */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.3s; /* Tasainen värin ja koon muutos hover-tilassa */
    cursor: pointer; /* Osoitin muuttuu kädensijaksi, kun käyttäjä vie sen napin päälle */
}

.buttonRejected:hover {
    background-color: #F4EF58; /* Vaihtaa taustaväriä, kun käyttäjä vie hiiren napin päälle */
    transform: translateY(-2px); /* Lisää hieman 3D-efektiä */
    box-shadow: 0 25px 50px rgba(255, 255, 0, 0.5), 0 15px 20px rgba(255, 255, 0, 0.3), inset 0 -2px 0 rgba(255, 255, 255, 0.2); /* Muuta varjostusta ja kiiltoa hover-tilassa */
}

/* Oranssi nappi */
.buttonHold {
    background-color: #ffbb33;
    border: solid;
    color: black; /* Musta teksti */
    padding: 12px 24px; /* Sisältöalueen (padding) koko */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    border-radius: 8px; /* Pyöristetty kulma */
    box-shadow: 0 15px 30px rgba(255, 255, 0, 0.3), 0 5px 15px rgba(255, 255, 0, 0.3), inset 0 -2px 0 rgba(255, 255, 255, 0.2); /* Varjostus ja kiilto */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.3s; /* Tasainen värin ja koon muutos hover-tilassa */
    cursor: pointer; /* Osoitin muuttuu kädensijaksi, kun käyttäjä vie sen napin päälle */
}

.buttonHold:hover {
    background-color: #F9C86D; /* Vaihtaa taustaväriä, kun käyttäjä vie hiiren napin päälle */
    transform: translateY(-2px); /* Lisää hieman 3D-efektiä */
    box-shadow: 0 25px 50px rgba(255, 255, 0, 0.5), 0 15px 20px rgba(255, 255, 0, 0.3), inset 0 -2px 0 rgba(255, 255, 255, 0.2); /* Muuta varjostusta ja kiiltoa hover-tilassa */
}

.issueNumlisting {
    width:auto;
    background-color: white;
    position: fixed;
    top:160px;
    bottom:40;
    right: 10px;
    height: auto;
    border: solid;
    overflow: scroll;
    padding: 10px;
    display: none;
}
.issueNumlistingButton {
    width:30px;
    background-color: white;
    position: fixed;
    top:100px;
    right: 90px;
    height: auto;
}
.magniflierButton {
    width:20px;
    background-color: white;
    position: fixed;
    top:45px;
    right: 100px;
    height: auto;
}
.buttonIssueListing {
    background-color: white;
    border: solid;
    color: black; /* Musta teksti */
    padding: 7px 14px; /* Sisältöalueen (padding) koko */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.3s; /* Tasainen värin ja koon muutos hover-tilassa */
    cursor: pointer; /* Osoitin muuttuu kädensijaksi, kun käyttäjä vie sen napin päälle */
}
.buttonIssueListing:hover {
    background-color: #E8DFD0; /* Vaihtaa taustaväriä, kun käyttäjä vie hiiren napin päälle */
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.addVolumeProblems-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 14px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.addVolumeProblems-button:hover {
  background-color: #45a049; /* Darker Green */
}