

body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 1em;
    }
.rescanodd {
    background-color:#EFEFF5;
    border-bottom: 1px solid black;
    }
.rescaneven {
    background-color:#FFFFFF;
    border-bottom: 1px solid black;
    }
.rescaneven:hover
{
background-color:#EBEDBB;
}
.rescanodd:hover
{
background-color:#EBEDBB;
}
.errorLine {
    background-color:#F2A9AB;
    border-bottom: 1px solid black;
    }

.rejectedLine {
    background-color:#F4EC90;
    border-bottom: 1px solid black;
    }

.randomReviewLine {
    background-color:#a4c6eb;
    border-bottom: 1px solid black;
    }


.harvinainen {
    color: #B85C00;
}

.aikavarma {
    color: #006600;
}

.ontologiaodd {
   background-color:#A6B9E0;
}

.ontologiaeven {
   background-color:#95A6CA;
}

.onalkuperainen {
   background-color:#95A6CA;
}


.eikorostusta {
    color: #000000;
}

.onto {
    color: #0000FF;
}

.eionto {
    color: #CC3300;
}

.active { color: black; font-weight: bold; }
    
.odd {
    background-color:#dddddd;
    }
.even {
    background-color:#bbbbbb;
    }
.odd:hover
{
   border: 3px solid #000;
}
.even:hover {
   border: 3px solid #000;
}
.valmiseven {
    background-color:#589858;
    color: #666666;
}
.valmisodd {
    background-color:#79AD79;
    color: #666666;
}
.sama {
    background-color:#ddaadd;
    }
    
.popup {
   
}
.popup:hover {
   background-color:#EBEDBB;   
}

.valmis {
    
}

.help  {
    background-color:#FFFF00;
}

.vika {
    background-color: #FF0000;
}

.rescanDiv {
    background-color: #FC0004;
}

.rejectDiv {
    background-color: #F785BA;
}

.production_ok {
    color:#000000;
    font-weight:bold;
}

.production_slow {
    color:#FFFF00;
    font-weight:bold;
}

.production_veryslow {
    color:#FF0000;
    font-weight:bold;
}

.korosta {
    background-color:#FFFF00;
}

.helpodd  {
    background-color:#FFFF00;
}

.helpeven {
    background-color:#E6E600;
}

.tyhjiaodd {
    background-color:#E6B85C;
}

.tyhjiaeven {
    background-color:#CCA352;
}

.poisto {
    background-color:#CC0000;
}

.poistoodd {
    background-color:#CC0000;
}

.poistoeven {
    background-color:#990000;
}

.autocorrection {
    background-color:#0099CC;
}


.buttonx {
   width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background:#ffffff;
}

.pdf {
    position: fixed;
    top: 0;
    right: 0;
}

.harmaa {
    color: #555555;
}

.tekstiosuma {
   font-weight: bold;
}
a.harmaa.link {
    color: #555555;
}


toimenpide_ok {
    background-color: #2ecc71;
    
}
caption {
    font-size: 200%;
}
.label {
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    color: #eeeeee;
    display: inline;
    font-size: 100%;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 0.3em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    padding-top: 0.2em;
    margin-bottom: 30px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.label-danger {
    background-color: #d9534f;
}

.label-vaurio {
    background-color: #f0ad4e;
}

.label-info {
    background-color: #5bc0de;
}

.label-ok {
    background-color: #5cb85c;
}

.label-toimenpide{
    background-color: #337ab7;
}

.label-default {
    background-color: #777;
}


/* Tooltip container */
.tooltip {
    position: relative;
    
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #FF0000;
    color: #070707;
    text-align: left;
    padding: 5px 0;
    border-radius: 6px;
    padding-left:5px;
    border: solid;
    border-color: #070707;
    
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top:-5px;
    left:105%;
    
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}



input {
    font-size: 100%;
}

	.suggestionsBox {
		position: relative;
		left: 30px;
		margin: 10px 0px 0px 0px;
		width: 200px;
		background-color: #212427;
		border: 2px solid #000;	
		color: #fff;
	}
	
	.suggestionList {
		margin: 0px;
		padding: 0px;
	}
	
	.suggestionList li {
		
		margin: 0px 0px 3px 0px;
		padding: 3px;
		cursor: pointer;
	}
	
	.suggestionList li:hover {
		background-color: #659CD8;
	}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
.errorfilenodd {
    background-color:#EFEFF5;
    text-align: left;
    }
.errorfileeven {
    background-color:#FFFFFF;
    text-align: left;
    }

.tableNiteet {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.tableNiteet th {
   position: sticky; /* Ensure the header sticks */
   top: 140px; /* Stick to the top of the container */
   z-index: 1; /* Ensure it appears above the table */
   border: 1px solid #dddddd;
   text-align: left;
   font-weight: bold;
   padding: 8px;
   background-color: #dddddd;
}

.tableNiteet td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.niteetPopupHeader {
   position: sticky; /* Ensure the header sticks */
   top: 0px; /* Stick to the top of the container */
   z-index: 1; /* Ensure it appears above the table */
   padding-top:70px;
   padding-left:100px;
   width: 100%;
   height: 90px;
   background-color: #FFFFFF;
}
