#docIdPageFrame {
  margin:50px;
}

#tableDoc {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tableDoc th {
  
  border: 1px solid #dddddd;
  text-align: left;
  font-weight: bold;
  padding: 8px;
  background-color: #dddddd;
}

#tableDoc td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#docInfo {
  margin-left: 50px;
  text-align: left;
}
.directoryBase {
   float:left;
   width:400px;
   margin-top:10px;
   margin-bottom:10px;
   margin-left:20px;
}
.seartch {
   float:right;
   width:330px;
   margin-top:10px;
   margin-bottom:10px;
   margin-right:20px;
   padding:20px;
}
.seartch select {
  width:330px;
}
.directory {
   float:left;
   width:400px;
   margin-left:0px;
   margin-right:20px;
   margin-top:5px;
   margin-bottom:5px;
   font-size: 1em;
}
.dailyReportFrame {
   text-align:center;
   float:left;
   margin:20px;
}
.dailyTable {
   align=left;
   margin:10px;
}
.dailyStaticFrame {
   float:none;
   clear:both;
}
.dailyStaticFrameNew {
   border: solid;
   width: auto;
   padding: 20px 0px 20px 20px;
}

 .container {
    display: flex;
    align-items: flex-start; /* Place the content of the frames at the top */
        width: 100%;
        }

        .frame {
            padding-top: 30px;
    border-bottom: solid 2px; /* Add a bottom border */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Place content at the top */
            align-items: center;
            position: relative; /* For positioning the toggle button */
        box-sizing: border-box; /* Ensure padding and borders are included in the total width and height */
            flex: 1; /* Allow frames to grow and shrink */
        }

 .frame.withRightBorder {
    border-right: solid 2px; /* Add a right border */
    }

        .errorFrame {
            width: 200px;
    transition: width 0.3s ease;
    border-right: solid;
    flex: 0;
    }

        .errorFrame.expanded {
            flex: 1; /* Allow it to expand to fill available space */
        width: auto;        /* Override fixed width to allow flex growth */
    height: 500px;
            border-right: solid;
         }

        .erroAndRejectedTable, .rescanTable {
            width: 100%;
    display: none;
         margin-bottom: 30px;
    box-sizing: border-box; /* Ensure padding and borders are included in the total width */

    }

        .erroAndRejectedTable.expanded, .rescanTable.expanded {
            display: table; /* Correct display value to show table rows */
         }

         .erroAndRejectedTable td, .rescanTable td {
            padding: 5px; /* Adding 'px' to the padding value */
         }

        .processingFrame, .inspectionFrame, .importFrame {
            flex: 1;
        }

.dailyStaticInnerFrame {
   float:left;
   margin:30px;
}
.dailyStaticInnerFrame_2 {
  width: 100%;
  float: left;
   margin:30px;
}
.staticHeader {
    float:none;
    clear:both;
    margin:20px;
    text-align:center;
}

#okMessage {
  display:none;
  position: fixed;
  top: 170px;
  right: 50%;
  width: 500px;
  border: 3px solid #73AD21;
  background: #C9DBAF;
  padding: 5;
  margin-right: -250px;
}

#displayOkMessage {
  display:none;
  position: fixed;
  top: 170px;
  right: 50%;
  width: 500px;
  border: 3px solid #73AD21;
  background: #C9DBAF;
  padding: 5;
  margin-right: -250px;
}

#displayErrorMessage {
  display:none;
  position: fixed;
  top: 210px;
  right: 50%;
  width: 500px;
  border: 3px solid #161615;
  background: #EA8F95;
  padding: 5;
  margin-right: -250px;
}
#rescanLinks {
   text-decoration:none;
   color:black;
}
#rescanLinks:hover {
  font-weight: bold;
  cursor: copy;
}

#kaupunki-dropdown, #vuosi-dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 10%;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

#kaupunki-dropdown li, #vuosi-dropdown li {
    padding: 10px;
    cursor: pointer;
}

#kaupunki-dropdown li:hover, #vuosi-dropdown li:hover {
    background-color: #ddd;
}

.toggleButton {
    background-color: #007BFF; /* Sininen taustaväri */
    border: 1px solid #007BFF; /* Sininen reunus */
    color: white; /* Valkoinen teksti */
    padding: 10px 20px; /* Sisätyylitys */
    text-align: center; /* Keskitetty teksti */
    text-decoration: none; /* Ei alleviivausta */
    display: inline-block; /* Inline-block, jotta margin ja padding toimivat odotetusti */
    font-size: 14px; /* Fonttikoko */
    font-family: Arial, sans-serif; /* Fonttiperhe */
    margin: 8px 4px; /* Ulkotyylitys */
    cursor: pointer; /* Muuttaa kursorin osoittimeksi */
    border-radius: 4px; /* Pyöristetyt kulmat */
    transition: background-color 0.3s, border-color 0.3s; /* Animaatio taustavärin ja reunavärin muutokselle */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Hento varjo */
}

.toggleButton:hover {
    background-color: #0056b3; /* Tummempi sininen hover-tilassa */
    border-color: #0056b3; /* Tummempi sininen reunus hover-tilassa */
}

.toggleButton:active {
    background-color: #004085; /* Vielä tummempi sininen kun painiketta painetaan */
    border-color: #004085; /* Vielä tummempi sininen reunus kun painiketta painetaan */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); /* Muutettu varjo painettaessa */
}

.toggleButton:focus {
    outline: none; /* Ei ulkoista kehystä */
    box-shadow
