

body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 1em;
    }

.harvinainen {
    color: #B85C00;
}

.aikavarma {
    color: #006600;
}

.ontologiaodd {
   background-color:#A6B9E0;
}

.ontologiaeven {
   background-color:#95A6CA;
}

.onalkuperainen {
   background-color:#95A6CA;
}


.eikorostusta {
    color: #000000;
}

.onto {
    color: #0000FF;
}

.eionto {
    color: #CC3300;
}

.active { color: black; font-weight: bold; }
    
.odd {
    background-color:#dddddd;
    }
.even {
    background-color:#bbbbbb;
    }
.sama {
    background-color:#ddaadd;
    }
.valmiseven {
    
    background-color:#589858;
    color: #666666;
    }
.valmisodd {
    background-color:#79AD79;
    color: #666666;
}

.valmis {
    
}

.help  {
    background-color:#FFFF00;
}

.vika {
    background-color: #FF0000;
}

.production_ok {
    color:#000000;
    font-weight:bold;
}

.production_slow {
    color:#FFFF00;
    font-weight:bold;
}

.production_veryslow {
    color:#FF0000;
    font-weight:bold;
}

.korosta {
    background-color:#FFFF00;
}

.helpodd  {
    background-color:#FFFF00;
}

.helpeven {
    background-color:#E6E600;
}

.tyhjiaodd {
    background-color:#E6B85C;
}

.tyhjiaeven {
    background-color:#CCA352;
}

.poisto {
    background-color:#CC0000;
}

.poistoodd {
    background-color:#CC0000;
}

.poistoeven {
    background-color:#990000;
}

.autocorrection {
    background-color:#0099CC;
}


.buttonx {
    position: fixed;
    top: 0;
    left: 0;
    background:#ffffff;
}

.pdf {
    position: fixed;
    top: 0;
    right: 0;
}

.harmaa {
    color: #555555;
}

.tekstiosuma {
   font-weight: bold;
}
a.harmaa.link {
    color: #555555;
}

toimenpide_kylla {
    background-color: 
}

toimenpide_ok {
    background-color: #2ecc71
    
}
caption {
    font-size: 200%;
}
.label {
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    color: #eeeeee;
    display: inline;
    font-size: 100%;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 0.3em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    padding-top: 0.2em;
    margin-bottom: 30px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.label-danger {
    background-color: #d9534f;
}

.label-vaurio {
    background-color: #f0ad4e;
}

.label-info {
    background-color: #5bc0de;
}

.label-ok {
    background-color: #5cb85c;
}

.label-toimenpide{
    background-color: #337ab7;
}

.label-default {
    background-color: #777;
}


/* Tooltip container */
.tooltip {
    position: relative;
    
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #FF0000;
    color: #fff;
    text-align: left;
    padding: 5px 0;
    border-radius: 6px;
    padding-left:5px;
    
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top:-5px;
    left:105%;
    
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}



input {
    font-size: 100%;
}

	.suggestionsBox {
		position: relative;
		left: 30px;
		margin: 10px 0px 0px 0px;
		width: 200px;
		background-color: #212427;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		border: 2px solid #000;	
		color: #fff;
	}
	
	.suggestionList {
		margin: 0px;
		padding: 0px;
	}
	
	.suggestionList li {
		
		margin: 0px 0px 3px 0px;
		padding: 3px;
		cursor: pointer;
	}
	
	.suggestionList li:hover {
		background-color: #659CD8;
	}
